.budget-calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .budget_form,
  .edit_budget_form,
  .income_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.244);
    transition: all 0.5s ease;
    right: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    &.show {
      right: 0;
      left: 0;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      width: 1rem;
      background-color: white;
      width: 30rem;
      height: 23rem;
      border-radius: 0.5rem;

      header {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        h2 {
          font-size: 18px;
          font-weight: 400;
        }
      }
      form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        .form-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          label {
            width: 100%;
          }
        }
        button {
          width: 100%;
        }
      }
    }
  }
}
