.goal_budget {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  i {
    font-size: 14px;
    &.fa-trash-can {
      color: rgb(185, 14, 14);
    }
  }
  button {
    width: 100%;
    gap: 0.3rem;
  }
  .goal {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-block: 1rem;
    border-radius: 1rem;
    header {
      width: 95%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      justify-content: space-between;
      gap: 1rem;
      h2 {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
      }
      button {
        width: 30%;
      }
    }
    #editGoalFormContainer,
    #goalFormContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.244);
      transition: all 0.5s ease;
      right: 100%;
      left: -100%;
      top: 0;
      bottom: 0;
      width: 100vw;
      height: 100%;
      &.show {
        right: 0;
        left: 0;
      }
      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 1rem;
        background-color: white;
        width: 90%;
        height: 60%;
        border-radius: 0.5rem;

        header {
          display: flex;
          align-items: center;
          width: 90%;
          justify-content: space-between;
          h2 {
            font-size: 18px;
            font-weight: 400;
          }
        }
        form {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;
          .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            label {
              width: 100%;
            }
          }
          button {
            width: 100%;
          }
        }
      }
    }
    #goalListContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      p {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: grey;
        height: 4rem;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
      }
      .goal-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 3.5rem;
        padding-inline: 1rem;
        border-radius: 0.5rem;
        background-color: whitesmoke;
        cursor: pointer;
        .left {
          display: flex;
          align-items: center;
          gap: 0.2rem;
          input {
            height: 0.9rem;
            width: 0.9rem;
            border: 1px solid;
          }

          h2 {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 500;
          }
          .time {
            font-size: 14px;
            font-size: 300;
          }
        }
        .right {
          display: flex;
          align-items: center;
          gap: 0.3rem;
        }
        &:hover {
          background-color: rgb(222, 219, 219);
        }
      }
    }
  }
  .budget-calculator {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-block: 1rem;
    border-radius: 1rem;

    &_top {
      width: 95%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      justify-content: space-between;
      gap: 1rem;
      header {
        width: 30%;
        h2 {
          width: 100%;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .right {
        width: 70%;
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
    &_inner {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .budget-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        h2 {
          width: 100%;
        }
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          width: 100%;
          p {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            color: grey;
            height: 4rem;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
          }

          .budget-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            width: 100%;
            height: 3.5rem;
            padding-inline: 1rem;
            border-radius: 0.5rem;
            background-color: whitesmoke;
            cursor: pointer;
            .left {
              display: flex;
              align-items: start;
              justify-content: center;
              flex-direction: column;
              gap: 0.2rem;

              .amount {
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 500;
              }
              h3 {
                font-size: 16px;
                font-weight: 600;
              }
            }
            .left {
              width: 100%;
            }
            .actions {
              display: flex;
              align-items: center;
              gap: 0.3rem;
            }
            &:hover {
              background-color: rgb(222, 219, 219);
            }
          }
        }
      }
      .bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        #remainingIncomeContainer,
        #totalIncomeContainer {
          width: 100%;
  
          h3 {
            font-size: 16px;
            font-weight: 400;
            span {
              
              font-weight: 600;
            }
          }
        }
      }

    }
    .budget_form,
    .edit_budget_form,
    .income_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.244);
      transition: all 0.5s ease;
      right: 100%;
      left: -100%;
      top: 0;
      bottom: 0;
      width: 100vw;
      height: 100%;
      &.show {
        right: 0;
        left: 0;
      }
      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 1rem;
        background-color: white;
        width: 90%;
        height: 60%;
        border-radius: 0.5rem;

        header {
          display: flex;
          align-items: center;
          width: 90%;
          justify-content: space-between;
          h2 {
            font-size: 18px;
            font-weight: 400;
          }
        }
        form {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;
          .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            label {
              width: 100%;
            }
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
