.goal_budget {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.goal_budget i {
  font-size: 16px;
}
.goal_budget i.fa-trash-can {
  color: rgb(185, 14, 14);
}
.goal_budget button {
  width: 100%;
  gap: 0.7rem;
}
.goal_budget button i {
  border: 1.5px solid;
  font-size: 10px;
  height: 45%;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}
.goal_budget .goal {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-block: 1rem;
  border-radius: 1rem;
}
.goal_budget .goal header {
  width: 92%;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  gap: 1rem;
}
.goal_budget .goal header h2 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.goal_budget .goal header button {
  width: 60%;
}
.goal_budget .goal #editGoalFormContainer,
.goal_budget .goal #goalFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.244);
  transition: all 0.5s ease;
  right: 100%;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
}
.goal_budget .goal #editGoalFormContainer.show,
.goal_budget .goal #goalFormContainer.show {
  right: 0;
  left: 0;
}
.goal_budget .goal #editGoalFormContainer .form-container,
.goal_budget .goal #goalFormContainer .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 1rem;
  background-color: white;
  width: 90%;
  height: 60%;
  border-radius: 0.5rem;
}
.goal_budget .goal #editGoalFormContainer .form-container header,
.goal_budget .goal #goalFormContainer .form-container header {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.goal_budget .goal #editGoalFormContainer .form-container header h2,
.goal_budget .goal #goalFormContainer .form-container header h2 {
  font-size: 18px;
  font-weight: 400;
}
.goal_budget .goal #editGoalFormContainer .form-container form,
.goal_budget .goal #goalFormContainer .form-container form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.goal_budget .goal #editGoalFormContainer .form-container form .form-group,
.goal_budget .goal #goalFormContainer .form-container form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.goal_budget .goal #editGoalFormContainer .form-container form .form-group label,
.goal_budget .goal #goalFormContainer .form-container form .form-group label {
  width: 100%;
}
.goal_budget .goal #editGoalFormContainer .form-container form button,
.goal_budget .goal #goalFormContainer .form-container form button {
  width: 100%;
}
.goal_budget .goal #goalListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.goal_budget .goal #goalListContainer p {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: grey;
  height: 4rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.goal_budget .goal #goalListContainer .goal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding-inline: 1.5rem;
  border-block: 1px solid rgb(228, 225, 225);
  cursor: pointer;
}
.goal_budget .goal #goalListContainer .goal-item .left {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.goal_budget .goal #goalListContainer .goal-item .left input {
  height: 0.9rem;
  width: 0.9rem;
  border: 1px solid;
}
.goal_budget .goal #goalListContainer .goal-item .left h2 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.goal_budget .goal #goalListContainer .goal-item .left .time {
  font-size: 14px;
  font-size: 400;
  color: grey;
}
.goal_budget .goal #goalListContainer .goal-item .right {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.goal_budget .goal #goalListContainer .goal-item:hover {
  background-color: rgb(222, 219, 219);
}
.goal_budget .budget-calculator {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-block: 1rem;
  border-radius: 1rem;
}
.goal_budget .budget-calculator_top {
  width: 92%;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  gap: 1rem;
}
.goal_budget .budget-calculator_top header {
  width: 30%;
}
.goal_budget .budget-calculator_top header h2 {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}
.goal_budget .budget-calculator_top .right {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.goal_budget .budget-calculator_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.goal_budget .budget-calculator_inner .budget-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.goal_budget .budget-calculator_inner .budget-list h2 {
  width: 100%;
}
.goal_budget .budget-calculator_inner .budget-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.goal_budget .budget-calculator_inner .budget-list ul p {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: grey;
  height: 4rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.goal_budget .budget-calculator_inner .budget-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 5rem;
  padding-inline: 1.5rem;
  border-block: 1px solid rgb(228, 225, 225);
  cursor: pointer;
}
.goal_budget .budget-calculator_inner .budget-list ul li .left {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}
.goal_budget .budget-calculator_inner .budget-list ul li .left h3 {
  font-size: 18px;
  font-weight: 500;
  color: grey;
  text-transform: capitalize;
}
.goal_budget .budget-calculator_inner .budget-list ul li .left span {
  font-size: 17px;
  font-weight: 500;
}
.goal_budget .budget-calculator_inner .budget-list ul li .left span.amount {
  text-transform: capitalize;
  font-weight: 500;
  color: rgb(232, 67, 16);
}
.goal_budget .budget-calculator_inner .budget-list ul li .left {
  width: 100%;
}
.goal_budget .budget-calculator_inner .budget-list ul li .actions {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.goal_budget .budget-calculator_inner .budget-list ul li:hover {
  background-color: rgb(222, 219, 219);
}
.goal_budget .budget-calculator_inner .bottom {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.goal_budget .budget-calculator_inner .bottom #remainingIncomeContainer,
.goal_budget .budget-calculator_inner .bottom #totalIncomeContainer {
  width: 100%;
}
.goal_budget .budget-calculator_inner .bottom #remainingIncomeContainer h3,
.goal_budget .budget-calculator_inner .bottom #totalIncomeContainer h3 {
  font-size: 16px;
  font-weight: 400;
}
.goal_budget .budget-calculator_inner .bottom #remainingIncomeContainer h3 span,
.goal_budget .budget-calculator_inner .bottom #totalIncomeContainer h3 span {
  font-weight: 600;
}
.goal_budget .budget-calculator .budget_form,
.goal_budget .budget-calculator .edit_budget_form,
.goal_budget .budget-calculator .income_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.244);
  transition: all 0.5s ease;
  right: 100%;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
}
.goal_budget .budget-calculator .budget_form.show,
.goal_budget .budget-calculator .edit_budget_form.show,
.goal_budget .budget-calculator .income_form.show {
  right: 0;
  left: 0;
}
.goal_budget .budget-calculator .budget_form .form-container,
.goal_budget .budget-calculator .edit_budget_form .form-container,
.goal_budget .budget-calculator .income_form .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 1rem;
  background-color: white;
  width: 90%;
  height: 60%;
  border-radius: 0.5rem;
}
.goal_budget .budget-calculator .budget_form .form-container header,
.goal_budget .budget-calculator .edit_budget_form .form-container header,
.goal_budget .budget-calculator .income_form .form-container header {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.goal_budget .budget-calculator .budget_form .form-container header h2,
.goal_budget .budget-calculator .edit_budget_form .form-container header h2,
.goal_budget .budget-calculator .income_form .form-container header h2 {
  font-size: 18px;
  font-weight: 400;
}
.goal_budget .budget-calculator .budget_form .form-container form,
.goal_budget .budget-calculator .edit_budget_form .form-container form,
.goal_budget .budget-calculator .income_form .form-container form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.goal_budget .budget-calculator .budget_form .form-container form .form-group,
.goal_budget .budget-calculator .edit_budget_form .form-container form .form-group,
.goal_budget .budget-calculator .income_form .form-container form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.goal_budget .budget-calculator .budget_form .form-container form .form-group label,
.goal_budget .budget-calculator .edit_budget_form .form-container form .form-group label,
.goal_budget .budget-calculator .income_form .form-container form .form-group label {
  width: 100%;
}
.goal_budget .budget-calculator .budget_form .form-container form button,
.goal_budget .budget-calculator .edit_budget_form .form-container form button,
.goal_budget .budget-calculator .income_form .form-container form button {
  width: 100%;
}/*# sourceMappingURL=budget.css.map */