.goal #editGoalFormContainer,
.goal #goalFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.244);
  transition: all 0.5s ease;
  right: 100%;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
}
.goal #editGoalFormContainer.show,
.goal #goalFormContainer.show {
  right: 0;
  left: 0;
}
.goal #editGoalFormContainer .form-container,
.goal #goalFormContainer .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 1rem;
  background-color: white;
  width: 90%;
  height: 60%;
  border-radius: 0.5rem;
}
.goal #editGoalFormContainer .form-container header,
.goal #goalFormContainer .form-container header {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.goal #editGoalFormContainer .form-container header h2,
.goal #goalFormContainer .form-container header h2 {
  font-size: 18px;
  font-weight: 400;
}
.goal #editGoalFormContainer .form-container form,
.goal #goalFormContainer .form-container form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.goal #editGoalFormContainer .form-container form .form-group,
.goal #goalFormContainer .form-container form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.goal #editGoalFormContainer .form-container form .form-group label,
.goal #goalFormContainer .form-container form .form-group label {
  width: 100%;
}
.goal #editGoalFormContainer .form-container form button,
.goal #goalFormContainer .form-container form button {
  width: 100%;
}

.budget-calculator {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-block: 1rem;
  border-radius: 1rem;
}
.budget-calculator_top {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.budget-calculator_top header {
  width: 100%;
}
.budget-calculator_top header h2 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.budget-calculator_top button {
  height: 2rem;
}
.budget-calculator_inner {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.budget-calculator_inner .budget-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.budget-calculator_inner .budget-list h2 {
  width: 100%;
}
.budget-calculator_inner .budget-list #remainingIncomeContainer,
.budget-calculator_inner .budget-list #totalIncomeContainer {
  width: 100%;
}
.budget-calculator_inner .budget-list #remainingIncomeContainer h3,
.budget-calculator_inner .budget-list #totalIncomeContainer h3 {
  font-size: 16px;
  font-weight: 400;
}
.budget-calculator_inner .budget-list #remainingIncomeContainer h3 span,
.budget-calculator_inner .budget-list #totalIncomeContainer h3 span {
  font-weight: 600;
}
.budget-calculator_inner .budget-list #budgetCardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  width: 100%;
}
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card {
  border: 1px solid;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card h3 {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card p {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card i {
  font-size: 18px;
}
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card i.fa-trash-can {
  color: red;
}
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card .actions {
  display: flex;
  align-items: center;
}
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card .actions,
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card h3,
.budget-calculator_inner .budget-list #budgetCardsContainer .budget-card p {
  width: 90%;
}
.budget-calculator .budget_form,
.budget-calculator .edit_budget_form,
.budget-calculator .income_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.244);
  transition: all 0.5s ease;
  right: 100%;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
}
.budget-calculator .budget_form.show,
.budget-calculator .edit_budget_form.show,
.budget-calculator .income_form.show {
  right: 0;
  left: 0;
}
.budget-calculator .budget_form .form-container,
.budget-calculator .edit_budget_form .form-container,
.budget-calculator .income_form .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 1rem;
  background-color: white;
  width: 90%;
  height: 60%;
  border-radius: 0.5rem;
}
.budget-calculator .budget_form .form-container header,
.budget-calculator .edit_budget_form .form-container header,
.budget-calculator .income_form .form-container header {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.budget-calculator .budget_form .form-container header h2,
.budget-calculator .edit_budget_form .form-container header h2,
.budget-calculator .income_form .form-container header h2 {
  font-size: 18px;
  font-weight: 400;
}
.budget-calculator .budget_form .form-container form,
.budget-calculator .edit_budget_form .form-container form,
.budget-calculator .income_form .form-container form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.budget-calculator .budget_form .form-container form .form-group,
.budget-calculator .edit_budget_form .form-container form .form-group,
.budget-calculator .income_form .form-container form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.budget-calculator .budget_form .form-container form .form-group label,
.budget-calculator .edit_budget_form .form-container form .form-group label,
.budget-calculator .income_form .form-container form .form-group label {
  width: 100%;
}
.budget-calculator .budget_form .form-container form button,
.budget-calculator .edit_budget_form .form-container form button,
.budget-calculator .income_form .form-container form button {
  width: 100%;
}/*# sourceMappingURL=budget.css.map */