.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 10vh;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      &_left {
        height: 100%;
        width: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: black;
          color: white;
          font-weight: 400;
        }
      }
      &_right {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        h1 {
          font-size: 16px;
          font-weight: 600;
        }
        h4 {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .right {
      h1 {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 1rem;
    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .first {
      width: 100%;
      gap: 0.3rem;
      &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h5 {
          font-size: 18px;
          font-weight: 400;
        }
        a {
          font-size: 16px;
          width: auto;
          height: auto;
        }
      }
      &_bottom {
        display: flex;
        align-items: center;
        width: 100%;
        h1 {
          font-weight: 500;
          font-size: 30px;
          color: #035c97;
        }
      }
    }
    .second {
      width: 100%;
      align-items: start;
      overflow-x: scroll;
      &_inner {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 15rem;
          height: 16vh;
          border-radius: 0.5rem;
          background-color: white;
          &_inner {
            width: 85%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            .left {
              height: 60%;
              width: 5rem;
              border-radius: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              &.income {
                color: green;
                background-color: rgba(0, 128, 0, 0.413);
              }
              &.expense {
                color: red;
                background-color: rgba(255, 0, 0, 0.195);
              }
              &.saving {
                color: rgb(202, 202, 19);
                background-color: rgba(202, 202, 19, 0.495);
              }
            }
            .right {
              display: flex;
              flex-direction: column;
              align-items: start;
              gap: 0.3rem;
              justify-content: center;
              h1 {
                font-size: 24px;
                font-weight: 400;
              }
              .income {
                color: green;
              }
              .expense {
                color: red;
              }
              .saving {
                color: rgb(202, 202, 19);
              }
              h4 {
                font-size: 18px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
    .third {
      gap: 0.5rem;
      header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h1 {
          width: 100%;
          font-size: 18px;
          font-weight: 500;
        }
      }
      &_inner {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 0.5rem;
        padding-block: 1rem;
        padding-inline: 0.4rem;
        .btns {
          align-items: end;
          select {
            width: 5.4rem;
            padding-block: 0.4rem;
            padding-inline: 0.2rem;
            border-radius: 0.3rem;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: whitesmoke;
            font-size: 14px;
            font-weight: 400;
            outline: none;
            &::selection {
              background-color: #035c97;
              color: white;
            }
          }
          option {
            height: 90%;
            border-radius: 0;
            width: 5.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .btns,
        canvas {
          width: 95%;
          display: flex;
          flex-direction: column;
        }
        canvas {
          align-items: center;
          //   background-color: black;
          color: white;
        }
      }
    }
  }
}
