.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 7rem;
  width: 100vw;
  gap: 1.5rem;
}
.dashboard_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 10vh;
}
.dashboard_header .left {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
  height: 80%;
  width: 50%;
}
.dashboard_header .left_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard_header .left_left i {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 3rem;
  width: 3rem;
}
.dashboard_header .left_right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.3rem;
}
.dashboard_header .left_right h1 {
  font-size: 16px;
  font-weight: 600;
}
.dashboard_header .left_right h4 {
  font-size: 14px;
  font-weight: 400;
}
.dashboard_header .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.dashboard_header .right i {
  font-size: 18px;
  font-weight: 400;
}
.dashboard_header.desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .dashboard_header {
    display: none;
  }
  .dashboard_header.desktop {
    display: flex;
    position: sticky;
    justify-content: space-between;
    top: 0;
    height: 4rem;
    padding-inline: 2rem;
    background-color: white;
    width: 100%;
  }
  .dashboard_header.desktop .left {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .dashboard_header.desktop .left i {
    height: 1rem;
    width: 1rem;
    border: 1px solid;
  }
  .dashboard_header.desktop .middle {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dashboard_header.desktop .middle_left {
    width: auto;
  }
  .dashboard_header.desktop .middle_left p {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: rgb(145, 145, 145);
  }
  .dashboard_header.desktop .middle_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  .dashboard_header.desktop .middle_right i {
    position: relative;
    color: rgb(183, 193, 197);
    font-size: 18px;
    left: 2rem;
  }
  .dashboard_header.desktop .middle_right input {
    width: 100%;
    border-radius: 2rem;
    padding-inline-start: 3rem;
  }
  .dashboard_header.desktop .middle_right input::-moz-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: rgb(183, 193, 197);
  }
  .dashboard_header.desktop .middle_right input::placeholder {
    font-size: 16px;
    font-weight: 200;
    color: rgb(183, 193, 197);
  }
  .dashboard_header.desktop .right {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
  }
  .dashboard_header.desktop .right_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .dashboard_header.desktop .right_left i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    height: 100%;
  }
  .dashboard_header.desktop .right_right {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
  }
  .dashboard_header.desktop .right_right .fa-user {
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100%;
    border-radius: 100%;
  }
}
.dashboard_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 93%;
  gap: 2rem;
}
.dashboard_inner section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard_inner_left {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 2rem;
}
.dashboard_inner_left .first {
  gap: 0.3rem;
}
.dashboard_inner_left .first_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dashboard_inner_left .first_top h5 {
  font-size: 16px;
  color: rgb(145, 145, 145);
  font-weight: 300;
}
.dashboard_inner_left .first_top a {
  font-size: 14px;
  font-weight: 400;
  width: auto;
  height: auto;
}
.dashboard_inner_left .first_bottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.dashboard_inner_left .first_bottom h1 {
  font-weight: 500;
  font-size: 30px;
}
.dashboard_inner_left .second {
  align-items: start;
  gap: 1rem;
}
.dashboard_inner_left .second_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}
.dashboard_inner_left .second_header h1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.dashboard_inner_left .second_header p {
  display: none;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-size: 12px;
  color: rgb(194, 194, 194);
  font-weight: 200;
}
.dashboard_inner_left .second_inner {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.dashboard_inner_left .second_inner_inner {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.dashboard_inner_left .second_inner .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 7rem;
  border-radius: 0.5rem;
  background-color: white;
}
.dashboard_inner_left .second_inner .card_inner {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.dashboard_inner_left .second_inner .card_inner .left {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard_inner_left .second_inner .card_inner .left svg,
.dashboard_inner_left .second_inner .card_inner .left i {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.dashboard_inner_left .second_inner .card_inner .left.income svg {
  color: green;
  background-color: rgba(0, 128, 0, 0.413);
}
.dashboard_inner_left .second_inner .card_inner .left.expense svg {
  color: red;
  background-color: rgba(255, 0, 0, 0.413);
}
.dashboard_inner_left .second_inner .card_inner .left.saving i {
  color: rgb(202, 202, 19);
  background-color: rgba(202, 202, 19, 0.413);
}
.dashboard_inner_left .second_inner .card_inner .right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
  justify-content: center;
}
.dashboard_inner_left .second_inner .card_inner .right h1 {
  font-size: 22px;
  font-weight: 500;
}
.dashboard_inner_left .second_inner .card_inner .right .income {
  color: green;
}
.dashboard_inner_left .second_inner .card_inner .right .expense {
  color: red;
}
.dashboard_inner_left .second_inner .card_inner .right .saving {
  color: rgb(202, 202, 19);
}
.dashboard_inner_left .second_inner .card_inner .right h4 {
  font-size: 16px;
  font-weight: 300;
}
.dashboard_inner_left .third {
  gap: 1rem;
}
.dashboard_inner_left .third header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dashboard_inner_left .third header h1 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.dashboard_inner_left .third_inner {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 0.4rem;
}
.dashboard_inner_left .third_inner .btns {
  align-items: end;
}
.dashboard_inner_left .third_inner .btns,
.dashboard_inner_left .third_inner canvas {
  width: 95%;
  display: flex;
  flex-direction: column;
}
.dashboard_inner_left .third_inner canvas {
  align-items: center;
  color: white;
}
.dashboard_inner_left .fourth {
  gap: 1rem;
}
.dashboard_inner_left .fourth header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dashboard_inner_left .fourth header h1 {
  font-size: 18px;
  font-weight: 500;
}
.dashboard_inner_left .fourth header a {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
}
.dashboard_inner_left .fourth_inner {
  display: flex;
  flex-direction: column;
  padding-block-start: 1rem;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  overflow-x: scroll;
}
.dashboard_inner_left .fourth_inner_top {
  width: 180vw;
  display: grid;
  grid-template-columns: 15% 30% 15% 20% 10%;
  gap: 1rem;
  border-block-end: 1px solid rgb(199, 201, 202);
  align-items: center;
  height: 4rem;
  padding-inline: 1rem;
}
.dashboard_inner_left .fourth_inner_top h1 {
  font-size: 14px;
  font-weight: 400;
}
.dashboard_inner_left .fourth_inner .transacts {
  width: 180vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard_inner_left .fourth_inner .transacts .transact {
  width: 100%;
  display: grid;
  padding-inline: 1rem;
  grid-template-columns: 15% 30% 15% 20% 10%;
  gap: 1rem;
  height: 4rem;
  border-block-end: 1px solid rgb(199, 201, 202);
  align-items: center;
}
.dashboard_inner_left .fourth_inner .transacts .transact:last-child {
  border: 0;
}
.dashboard_inner_left .fourth_inner .transacts .transact .firstCl {
  width: 100%;
}
.dashboard_inner_left .fourth_inner .transacts .transact .firstCl p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 300;
}
.dashboard_inner_left .fourth_inner .transacts .transact .secondCl {
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: hidden;
}
.dashboard_inner_left .fourth_inner .transacts .transact .secondCl p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 400;
}
.dashboard_inner_left .fourth_inner .transacts .transact .thirdCl p {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 300;
}
.dashboard_inner_left .fourth_inner .transacts .transact .fourthCl {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.dashboard_inner_left .fourth_inner .transacts .transact .fourthCl h5 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  border-radius: 0.2rem;
  color: white;
  width: 6rem;
}
.dashboard_inner_left .fourth_inner .transacts .transact .fourthCl h5 span {
  width: 95%;
  padding-inline: 1rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}
.dashboard_inner_left .fourth_inner .transacts .transact .fourthCl .red {
  background-color: red;
}
.dashboard_inner_left .fourth_inner .transacts .transact .fourthCl .green {
  background-color: green;
}
.dashboard_inner_left .fourth_inner .transacts .transact .fifthCl h4 {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: start;
}
.dashboard_inner_left .fourth_inner .transacts .transact .fifthCl h4.red {
  color: red;
}
.dashboard_inner_left .fourth_inner .transacts .transact .fifthCl h4.green {
  color: green;
}
.dashboard_inner_left .fourth_inner .transacts .transact:hover {
  background-color: whitesmoke;
}
@media screen and (min-width: 777px) {
  .dashboard_inner_left .fourth_inner_top,
  .dashboard_inner_left .fourth_inner .transacts {
    width: 100%;
  }
}
.dashboard_inner_right {
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard_inner_right .blog {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.dashboard_inner_right .blog_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1.5px solid whitesmoke;
}
.dashboard_inner_right .blog_header h2 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  height: 1.4rem;
}
.dashboard_inner_right .blog_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
}
.dashboard_inner_right .blog_inner .blog_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-block-end: 1px solid whitesmoke;
  width: 100%;
}
.dashboard_inner_right .blog_inner .blog_item:last-child {
  border: none;
}
.dashboard_inner_right .blog_inner .blog_item_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 95%;
  height: 95%;
  padding-block: 1rem;
}
.dashboard_inner_right .blog_inner .blog_item_inner_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
}
.dashboard_inner_right .blog_inner .blog_item_inner_body h2 {
  display: flex;
  align-items: center;
  justify-content: start;
  height: -moz-fit-content;
  height: fit-content;
  gap: 0.3rem;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: rgb(112, 101, 101);
  font-style: italic;
}
.dashboard_inner_right .blog_inner .blog_item_inner_body h2 span:first-child {
  width: 0.5rem;
  background-color: orange;
  height: 0.5rem;
  border-radius: 100%;
}
.dashboard_inner_right .blog_inner .blog_item_inner_body h2 span:last-child {
  width: auto;
}
.dashboard_inner_right .blog_inner .blog_item_inner_body p {
  width: 100%;
  font-size: 14px;
}
.dashboard_inner_right .blog_inner .blog_item_inner_body p.content {
  font-size: 14px;
  line-height: 1.3;
}
.dashboard_inner_right .blog_inner .blog_item_inner_body p span {
  font-weight: 300;
}
.dashboard_inner_right .blog_inner .blog_item_inner_footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard_inner_right .blog_inner .blog_item_inner_footer div {
  display: flex;
  align-items: end;
  gap: 0.3rem;
}
.dashboard_inner_right .blog_inner .blog_item_inner_footer div p {
  font-size: 12px;
  font-weight: 300;
}
.dashboard_inner_right .blog_inner .blog_item_inner_footer div i {
  cursor: pointer;
  color: grey;
}
.dashboard_inner_right .blog_inner .blog_item_inner a {
  color: blue;
}
.dashboard_inner_right .single_blog {
  position: fixed;
  width: 100%;
  display: none;
}
.dashboard_inner_right .single_blog.show {
  display: flex;
}
.dashboard_inner_right .single_blog .exitblog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  z-index: 5;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  right: 5%;
  top: 2rem;
  color: white;
  position: fixed;
  background-color: black;
  cursor: pointer;
}
.dashboard_inner_right .single_blog .blog_details {
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.388);
  display: flex;
  top: 0;
}
.dashboard_inner_right .single_blog .blog_details_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 95%;
  height: 95%;
  overflow-y: scroll;
  background-color: white;
  padding-inline: 1.5rem;
  padding-block-start: 1.5rem;
  border-radius: 0.5rem;
}
.dashboard_inner_right .single_blog .blog_details_inner_body {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1rem;
}
.dashboard_inner_right .single_blog .blog_details_inner_body h2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
}
.dashboard_inner_right .single_blog .blog_details_inner_body p {
  width: 100%;
}
.dashboard_inner_right .single_blog .blog_details_inner_body p.content {
  line-height: 1.4;
  font-weight: 300;
  font-size: 14px;
}
.dashboard_inner_right .single_blog .blog_details_inner_footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  top: 0;
  padding-block: 0.4rem;
  background-color: white;
}
.dashboard_inner_right .single_blog .blog_details_inner_footer_left {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  gap: 0.2rem;
}
.dashboard_inner_right .single_blog .blog_details_inner_footer_left i {
  font-size: 12px;
  width: 1.8rem;
  height: 1.8rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.dashboard_inner_right .single_blog .blog_details_inner_footer_right {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: end;
  gap: 0.5rem;
  align-items: center;
}
.dashboard_inner_right .single_blog .blog_details_inner_footer_right div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.dashboard_inner_right .single_blog .blog_details_inner_footer p {
  font-size: 12px;
  font-weight: 400;
}
.dashboard_inner_right .single_blog .blog_details_inner_footer i {
  cursor: pointer;
  font-size: 16px;
  color: grey;
}
@media screen and (min-width: 768px) {
  .dashboard_inner {
    width: 95%;
    align-items: start;
    justify-content: center;
    flex-direction: row;
  }
  .dashboard_inner section {
    background-color: white;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    padding-block: 1rem;
  }
  .dashboard_inner_left {
    width: 65%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dashboard_inner_left section {
    padding: 2rem;
  }
  .dashboard_inner_left .first {
    display: none;
  }
  .dashboard_inner_left .second {
    gap: 1rem;
  }
  .dashboard_inner_left .second_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
  }
  .dashboard_inner_left .second_header h1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
  }
  .dashboard_inner_left .second_header p {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-size: 16px;
    color: rgb(194, 194, 194);
    font-weight: 200;
  }
  .dashboard_inner_left .second_inner {
    width: 100%;
    justify-content: center;
  }
  .dashboard_inner_left .second_inner .card {
    border-radius: 0;
    border-right: 1px solid rgb(230, 230, 230);
  }
  .dashboard_inner_left .second_inner .card:last-child {
    border: none;
  }
  .dashboard_inner_right {
    width: 35%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard_inner_right .blog {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .dashboard_inner_right .blog_header {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1.5px solid whitesmoke;
  }
  .dashboard_inner_right .blog_header h2 {
    font-size: 14px;
    font-weight: 600;
    height: 1.4rem;
  }
  .dashboard_inner_right .blog_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .dashboard_inner_right .blog_inner .blog_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-block-end: 1px solid whitesmoke;
    width: 100%;
  }
  .dashboard_inner_right .blog_inner .blog_item:last-child {
    border: none;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
    height: 95%;
    padding-block: 1rem;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_body h2 {
    display: flex;
    align-items: center;
    justify-content: start;
    height: -moz-fit-content;
    height: fit-content;
    gap: 0.3rem;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: rgb(112, 101, 101);
    font-style: italic;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_body h2 span:first-child {
    width: 0.5rem;
    background-color: orange;
    height: 0.5rem;
    border-radius: 100%;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_body h2 span:last-child {
    width: auto;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_body p {
    width: 100%;
    font-size: 14px;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_body p.content {
    font-size: 14px;
    line-height: 1.3;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_body p span {
    font-weight: 300;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_footer div {
    display: flex;
    align-items: end;
    gap: 0.3rem;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_footer div p {
    font-size: 12px;
    font-weight: 300;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner_footer div i {
    cursor: pointer;
    color: grey;
  }
  .dashboard_inner_right .blog_inner .blog_item_inner a {
    color: blue;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_body h2 {
    font-size: 24px;
    font-weight: 600;
    width: 90%;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_body p {
    width: 100%;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_body p.content {
    line-height: 1.4;
    font-weight: 300;
    font-size: 18px;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_footer {
    padding-block: 0.6rem;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_footer_left i {
    height: 2rem;
    width: 2rem;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_footer_left p {
    font-size: 18px;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_footer_right {
    gap: 2rem;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_footer_right div {
    gap: 0.2rem;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_footer_right p {
    font-size: 14px;
    font-weight: 600;
  }
  .dashboard_inner_right .single_blog .blog_details_inner_footer_right i {
    font-size: 18px;
  }
}/*# sourceMappingURL=dash.css.map */