.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 100vw;
  gap: 1.5rem;
}
.dashboard_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 10vh;
}
.dashboard_header .left {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
  height: 80%;
  width: 50%;
}
.dashboard_header .left_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard_header .left_left i {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 3rem;
  width: 3rem;
}
.dashboard_header .left_right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.3rem;
}
.dashboard_header .left_right h1 {
  font-size: 16px;
  font-weight: 600;
}
.dashboard_header .left_right h4 {
  font-size: 14px;
  font-weight: 400;
}
.dashboard_header .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.dashboard_header .right i {
  font-size: 18px;
  font-weight: 400;
}
.dashboard_header.desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .dashboard_header {
    display: none;
  }
  .dashboard_header.desktop {
    display: flex;
    position: sticky;
    justify-content: space-between;
    top: 0;
    height: 4rem;
    padding-inline: 2rem;
    background-color: white;
    width: 100%;
  }
  .dashboard_header.desktop .left {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .dashboard_header.desktop .left i {
    height: 1rem;
    width: 1rem;
    border: 1px solid;
  }
  .dashboard_header.desktop .middle {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dashboard_header.desktop .middle_left {
    width: auto;
  }
  .dashboard_header.desktop .middle_left p {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: rgb(145, 145, 145);
  }
  .dashboard_header.desktop .middle_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  .dashboard_header.desktop .middle_right i {
    position: relative;
    color: rgb(183, 193, 197);
    font-size: 18px;
    left: 2rem;
  }
  .dashboard_header.desktop .middle_right input {
    width: 100%;
    border-radius: 2rem;
    padding-inline-start: 3rem;
  }
  .dashboard_header.desktop .middle_right input::-moz-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: rgb(183, 193, 197);
  }
  .dashboard_header.desktop .middle_right input::placeholder {
    font-size: 16px;
    font-weight: 200;
    color: rgb(183, 193, 197);
  }
  .dashboard_header.desktop .right {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
  }
  .dashboard_header.desktop .right_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .dashboard_header.desktop .right_left i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    height: 100%;
  }
  .dashboard_header.desktop .right_right {
    height: 65%;
    width: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dashboard_header.desktop .right_right .fa-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
}
.dashboard_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 93%;
  gap: 2rem;
}
.dashboard_inner section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard_inner_left {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 2rem;
}
.dashboard_inner_left .first {
  gap: 0.3rem;
}
.dashboard_inner_left .first_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dashboard_inner_left .first_top h5 {
  font-size: 16px;
  color: rgb(145, 145, 145);
  font-weight: 300;
}
.dashboard_inner_left .first_top a {
  font-size: 14px;
  font-weight: 400;
  width: auto;
  height: auto;
}
.dashboard_inner_left .first_bottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.dashboard_inner_left .first_bottom h1 {
  font-weight: 500;
  font-size: 30px;
}
.dashboard_inner_left .second {
  align-items: start;
  overflow-x: scroll;
  gap: 1rem;
}
.dashboard_inner_left .second_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}
.dashboard_inner_left .second_header h1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.dashboard_inner_left .second_header p {
  display: none;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-size: 12px;
  color: rgb(194, 194, 194);
  font-weight: 200;
}
.dashboard_inner_left .second_inner {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.dashboard_inner_left .second_inner .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 16vh;
  border-radius: 0.5rem;
  background-color: white;
}
.dashboard_inner_left .second_inner .card_inner {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.dashboard_inner_left .second_inner .card_inner .left {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard_inner_left .second_inner .card_inner .left svg,
.dashboard_inner_left .second_inner .card_inner .left i {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.dashboard_inner_left .second_inner .card_inner .left.income svg {
  color: green;
  background-color: rgba(0, 128, 0, 0.413);
}
.dashboard_inner_left .second_inner .card_inner .left.expense svg {
  color: red;
  background-color: rgba(255, 0, 0, 0.413);
}
.dashboard_inner_left .second_inner .card_inner .left.saving i {
  color: rgb(202, 202, 19);
  background-color: rgba(202, 202, 19, 0.413);
}
.dashboard_inner_left .second_inner .card_inner .right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
  justify-content: center;
}
.dashboard_inner_left .second_inner .card_inner .right h1 {
  font-size: 22px;
  font-weight: 500;
}
.dashboard_inner_left .second_inner .card_inner .right .income {
  color: green;
}
.dashboard_inner_left .second_inner .card_inner .right .expense {
  color: red;
}
.dashboard_inner_left .second_inner .card_inner .right .saving {
  color: rgb(202, 202, 19);
}
.dashboard_inner_left .second_inner .card_inner .right h4 {
  font-size: 16px;
  font-weight: 300;
}
.dashboard_inner_left .third {
  gap: 1rem;
}
.dashboard_inner_left .third header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dashboard_inner_left .third header h1 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.dashboard_inner_left .third_inner {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 0.4rem;
}
.dashboard_inner_left .third_inner .btns {
  align-items: end;
}
.dashboard_inner_left .third_inner .btns select {
  width: 5.4rem;
  padding-block: 0.4rem;
  padding-inline: 0.2rem;
  border-radius: 0.3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: whitesmoke;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}
.dashboard_inner_left .third_inner .btns select::-moz-selection {
  background-color: #035c97;
  color: white;
}
.dashboard_inner_left .third_inner .btns select::selection {
  background-color: #035c97;
  color: white;
}
.dashboard_inner_left .third_inner .btns option {
  height: 90%;
  border-radius: 0;
  width: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}
.dashboard_inner_left .third_inner .btns,
.dashboard_inner_left .third_inner canvas {
  width: 95%;
  display: flex;
  flex-direction: column;
}
.dashboard_inner_left .third_inner canvas {
  align-items: center;
  color: white;
}
.dashboard_inner_left .fourth {
  gap: 0.3rem;
}
.dashboard_inner_left .fourth header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dashboard_inner_left .fourth header h1 {
  font-size: 18px;
  font-weight: 500;
}
.dashboard_inner_left .fourth header a {
  font-size: 14px;
  font-weight: 400;
  width: auto;
  height: auto;
}
.dashboard_inner_left .fourth_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding-block: 1rem;
  border-radius: 0.5rem;
}
.dashboard_inner_left .fourth_inner_top {
  width: 95%;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-block: 1px solid rgb(245, 246, 247);
}
.dashboard_inner_left .fourth_inner_top h1 {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  width: 100%;
}
.dashboard_inner_left .fourth_inner .transacts {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard_inner_left .fourth_inner .transacts_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact {
  width: 100%;
  display: grid;
  height: 4rem;
  border-block: 1px solid rgb(245, 246, 247);
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact.none {
  display: none;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .firstCl {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .firstCl p {
  font-size: 14px;
  font-weight: 300;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .secondCl {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .secondCl p {
  font-size: 16px;
  font-weight: 300;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .thirdCl {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .thirdCl h5 {
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  border-radius: 0.2rem;
  color: white;
  width: 7rem;
  padding-inline: 0.3rem;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .thirdCl .red {
  background-color: red;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .thirdCl .green {
  background-color: green;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .fourthCl {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .fourthCl h4 {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .fourthCl h4.red {
  color: red;
}
.dashboard_inner_left .fourth_inner .transacts_inner .transact .fourthCl h4.green {
  color: green;
}
@media screen and (min-width: 768px) {
  .dashboard_inner {
    width: 90%;
    align-items: start;
    justify-content: center;
    flex-direction: row;
  }
  .dashboard_inner_left {
    width: 75%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dashboard_inner_right {
    width: 25%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard_inner_right .blog {
    height: 100%;
    width: 100%;
  }
  .dashboard_inner section {
    background-color: white;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    padding: 2rem;
  }
  .dashboard_inner .first {
    display: none;
  }
  .dashboard_inner .second {
    gap: 1rem;
  }
  .dashboard_inner .second_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
  }
  .dashboard_inner .second_header h1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
  }
  .dashboard_inner .second_header p {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-size: 16px;
    color: rgb(194, 194, 194);
    font-weight: 200;
  }
  .dashboard_inner .second_inner {
    width: 100%;
    justify-content: center;
  }
  .dashboard_inner .second_inner .card {
    border-radius: 0;
    border-right: 1px solid rgb(230, 230, 230);
  }
  .dashboard_inner .second_inner .card:last-child {
    border: none;
  }
}/*# sourceMappingURL=dash.css.map */