.dashboard .notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.dashboard .notification.hide {
  display: none;
}
.dashboard .notification_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 10vh;
}
.dashboard .notification_header_left {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.dashboard .notification_header_left i {
  font-size: 12px;
  width: 2rem;
  background-color: black;
  color: white;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .notification_header h1 {
  font-size: 18px;
  font-weight: 400;
}
.dashboard .notification_header a {
  width: -moz-fit-content;
  width: fit-content;
}
.dashboard .notification_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard .notification_desktopNav {
  display: none;
}
.dashboard .notification_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.dashboard .notification_inner .top {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: gainsboro;
}
.dashboard .notification_inner .top_inner {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.dashboard .notification_inner .top_inner select {
  width: auto;
  background-color: inherit;
  border: inherit;
}
.dashboard .notification_inner .top_inner h1 {
  font-size: 14px;
  font-weight: 400;
}
.dashboard .notification_inner .top_inner_right {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.dashboard .notification_inner .top_inner_right i {
  font-size: 14px;
}
.dashboard .notification_inner .bottom {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.dashboard .notification_inner .bottom .demarcation-header {
  margin: 20px 0 15px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
.dashboard .notification_inner .bottom .demarcation-header :first-child {
  margin-top: 0;
}
.dashboard .notification_inner .bottom .demarcation-header::before, .dashboard .notification_inner .bottom .demarcation-header::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 39%; /* Adjust width as needed */
  height: 1px;
  background-color: grey; /* Light grey border */
}
.dashboard .notification_inner .bottom .demarcation-header::after {
  right: 0;
}
.dashboard .notification_inner .bottom .demarcation-header::before {
  left: 0;
}
.dashboard .notification_inner .bottom .demarcation-header span {
  padding: 0 10px;
  position: relative;
  z-index: 1; /* Ensure text is above the line */
  font-size: 14px;
  font-weight: 400;
  color: grey;
}
@media screen and (min-width: 768px) {
  .dashboard .notification_header {
    display: none;
  }
  .dashboard .notification_body {
    flex-direction: row;
    align-items: start;
    width: 95%;
    gap: 1rem;
    justify-content: space-between;
  }
  .dashboard .notification_inner {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 70%;
    border-radius: 0.3rem;
    gap: 0;
  }
  .dashboard .notification_inner .bottom {
    overflow-y: scroll;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 1rem;
  }
  .dashboard .notification_desktopNav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 0.4rem;
    height: 25rem;
    position: sticky;
    top: 5.4rem;
  }
  .dashboard .notification_desktopNav_inner {
    height: 94%;
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .dashboard .notification_desktopNav_inner a {
    display: flex;
    align-items: center;
    height: 5rem;
    gap: 0.4rem;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .dashboard .notification_desktopNav_inner a .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 80%;
    height: 9%;
  }
  .dashboard .notification_desktopNav_inner a .right p {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
  }
  .dashboard .notification_desktopNav_inner a .right p .message {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .dashboard .notification_desktopNav_inner a .right p .no_of_noties {
    background-color: blue;
    width: 1rem;
    height: 1rem;
    padding: 0.4rem;
    color: white;
    font-size: 12px;
    font-weight: 200;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard .notification_desktopNav_inner a .right p .no_of_noties.hide {
    display: none;
  }
  .dashboard .notification_desktopNav_inner .left {
    height: 100%;
    width: 3.5rem;
  }
  .dashboard .notification_desktopNav_inner .left i {
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=notification.css.map */