.dashboard {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &.hide {
      display: none;
    }
    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      height: 10vh;
      h1 {
        font-size: 18px;
        font-weight: 400;
      }
      a {
        width: fit-content;
        height: fit-content;
      }
    }
    &_body {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_inner {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .profiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .user-profile {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 0.7rem;
          i {
            font-size: 1rem;
            background-color: black;
            color: white;
          }
          i,
          img {
            background-color: black;
            padding: 0.2rem;
            height: 7rem;
            width: 7rem;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          img {
            object-fit: cover;
          }
          .user-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.3rem;
            width: 100%;
            p {
              text-transform: lowercase;
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid;
              border-radius: 1rem;
              padding-inline: 0.6rem;
              width: fit-content;
              height: 1.6rem;
              background-color: rgba(0, 0, 0, 0.141);
            }
          }
        }
        &_actions {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          a {
            display: flex;
            align-items: center;
            height: 4rem;
            gap: 0.4rem;
            font-size: 16px;
            font-weight: 400;
            width: 100%;
            // color: #eff6ff;
            // color: black;
            color: rgb(73, 71, 71);
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            border-radius: 0.4rem;
            padding: 0.4rem;
            &:hover {
              // background-color: white;
              background-color: rgba(73, 71, 71, 0.157);
            }
            .right {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 0.4rem;
              width: 80%;
              height: 9%;
              h1 {
                font-size: 16px;
                font-weight: 500;
              }
              p {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 300;
                width: 100%;
                .message {
                  width: 100%;
                  height: fit-content;
                }
                .no_of_noties {
                  background-color: rgba(0, 67, 112, 1);
                  width: 1.2rem;
                  height: 1.2rem;
                  padding: 0.5rem;
                  color: white;
                  font-size: 13px;
                  font-weight: 400;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &.hide {
                    display: none;
                  }
                }
              }
            }
            .left {
              height: 100%;
              width: 3.4rem;
              i {
                font-size: 1.4rem;

                // background-color: rgba(0, 67, 112, 0.5); /* Light blue accent */
                width: 100%;
                height: 100%;
                border-radius: 0.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      &_header {
        display: none;
      }
      &_body {
        flex-direction: row;
        align-items: start;
        gap: 1rem;
        justify-content: space-between;
      }
      &_inner {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: white;
        width: 70%;
        padding-block: 1rem;
        border-radius: 0.3rem;
        .profiles {
          &_actions {
            display: none;
          }
        }
      }
    }
  }
}
