.dashboard .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.dashboard .profile.hide {
  display: none;
}
.dashboard .profile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 10vh;
}
.dashboard .profile_header h1 {
  font-size: 18px;
  font-weight: 400;
}
.dashboard .profile_header a {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.dashboard .profile_body {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard .profile_inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.dashboard .profile_inner .profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.dashboard .profile_inner .profiles .user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.7rem;
}
.dashboard .profile_inner .profiles .user-profile i {
  font-size: 1rem;
  background-color: black;
  color: white;
}
.dashboard .profile_inner .profiles .user-profile i,
.dashboard .profile_inner .profiles .user-profile img {
  background-color: black;
  padding: 0.2rem;
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .profile_inner .profiles .user-profile img {
  -o-object-fit: cover;
     object-fit: cover;
}
.dashboard .profile_inner .profiles .user-profile .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
}
.dashboard .profile_inner .profiles .user-profile .user-info p {
  text-transform: lowercase;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 1rem;
  padding-inline: 0.6rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.6rem;
  background-color: rgba(0, 0, 0, 0.141);
}
.dashboard .profile_inner .profiles_actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dashboard .profile_inner .profiles_actions a {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 0.4rem;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: rgb(73, 71, 71);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 0.4rem;
  padding: 0.4rem;
}
.dashboard .profile_inner .profiles_actions a:hover {
  background-color: rgba(73, 71, 71, 0.157);
}
.dashboard .profile_inner .profiles_actions a .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 80%;
  height: 9%;
}
.dashboard .profile_inner .profiles_actions a .right h1 {
  font-size: 16px;
  font-weight: 500;
}
.dashboard .profile_inner .profiles_actions a .right p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}
.dashboard .profile_inner .profiles_actions a .right p .message {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.dashboard .profile_inner .profiles_actions a .right p .no_of_noties {
  background-color: rgb(0, 67, 112);
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.5rem;
  color: white;
  font-size: 13px;
  font-weight: 400;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .profile_inner .profiles_actions a .right p .no_of_noties.hide {
  display: none;
}
.dashboard .profile_inner .profiles_actions a .left {
  height: 100%;
  width: 3.4rem;
}
.dashboard .profile_inner .profiles_actions a .left i {
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .dashboard .profile_header {
    display: none;
  }
  .dashboard .profile_body {
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    justify-content: space-between;
  }
  .dashboard .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: white;
    width: 70%;
    padding-block: 1rem;
    border-radius: 0.3rem;
  }
  .dashboard .profile_inner .profiles_actions {
    display: none;
  }
}/*# sourceMappingURL=profile.css.map */