.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  gap: 1.5rem;
}
.dashboard .transaction_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  gap: 2rem;
}
.dashboard .transaction_inner section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard .transaction_inner .fourth {
  gap: 0.3rem;
}
.dashboard .transaction_inner .fourth header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dashboard .transaction_inner .fourth header h1 {
  font-size: 18px;
  font-weight: 500;
}
.dashboard .transaction_inner .fourth header a {
  font-size: 14px;
  font-weight: 400;
  width: auto;
  height: auto;
}
.dashboard .transaction_inner .fourth_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding-block: 1rem;
  border-radius: 0.5rem;
}
.dashboard .transaction_inner .fourth_inner_top {
  width: 95%;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-block: 1px solid rgb(245, 246, 247);
}
.dashboard .transaction_inner .fourth_inner_top h1 {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  width: 100%;
}
.dashboard .transaction_inner .fourth_inner .transacts {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact {
  width: 100%;
  display: grid;
  height: 4rem;
  border-block: 1px solid rgb(245, 246, 247);
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact.none {
  display: none;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .firstCl {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .firstCl p {
  font-size: 14px;
  font-weight: 300;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .secondCl {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .secondCl p {
  font-size: 16px;
  font-weight: 300;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .thirdCl {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .thirdCl h5 {
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  border-radius: 0.2rem;
  color: white;
  width: 7rem;
  padding-inline: 0.3rem;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .thirdCl .red {
  background-color: red;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .thirdCl .green {
  background-color: green;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .fourthCl {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .fourthCl h4 {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .fourthCl h4.red {
  color: red;
}
.dashboard .transaction_inner .fourth_inner .transacts_inner .transact .fourthCl h4.green {
  color: green;
}
@media screen and (min-width: 768px) {
  .dashboard .transaction_inner {
    width: 90%;
    align-items: start;
    justify-content: center;
    flex-direction: row;
  }
  .dashboard .transaction_inner section {
    background-color: white;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    padding: 2rem;
  }
}/*# sourceMappingURL=transact.css.map */