.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  gap: 1.5rem;
  .transaction_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
    section {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .fourth {
      gap: 0.3rem;
      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        h1 {
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: start;
        }
      }
      &_inner {
        display: flex;
        flex-direction: column;
        padding-block: 0.5rem;
        width: 100%;
        background-color: white;
        border-radius: 0.5rem;
        overflow-x: scroll;
   
        .transacts {
          max-height: 100vh;
          overflow-y: auto;
          width: 100%; /* Ensure it spans the full width */
          .transaction {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            &-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-weight: 500;
              position: sticky;
              top: -0.1rem;
              z-index: 1;
              height:3rem;
              background-color: white;
  
              div {
                flex: 1;
                text-align: center;
              }
            }
  
            &-item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 5px 0;
              border-radius: 5px;
              color: #fff;
              height: 3rem;
              padding: 0.2rem 0.5rem;
              font-size: 14px;
              font-weight: 500;
              transition: all 0.2s ease;
              &.income {
                background-color: #388e3c;
                text-transform: capitalize;
                &:hover {
                  background-color: #2f6b32;
                }
              }
  
              &.expense {
                background-color: #d32f2f;
                text-transform: capitalize;
                &:hover {
                  background-color: #a22626;
                }
              }
  
              div {
                flex: 1;
                text-align: center;
              }
            }
          }
        }
        .year-group {
          h2 {
            margin: 10px 0;
            font-size: 22px;
            font-weight: 600;
            color: #333;
          }
        }

        .month-group {
          h3 {
            margin: 10px 0;
            font-size: 18px;
            font-weight: 500;
            color: #333;
          }
          &:not(:has(.transaction)) {
            display: none;
          }
        }

        @media (max-width: 768px) {
          .transacts {
            max-height: 80vh; /* Adjust height for smaller screens */
            overflow-y: scroll; /* Ensure scrolling works on mobile */
            padding: 0 10px; /* Add padding for better spacing */
            .transaction {
              &-header {
                display: none;
                flex-direction: column;
                align-items: flex-start;
  
                div {
                  text-align: left;
                  margin-bottom: 5px;
                }
              }
              &-item {
                flex-direction: column;
                align-items: flex-start;
  
                div {
                  text-align: left;
                  margin-bottom: 5px;
                }
                .amount {
                  text-align: left;
                  font-weight: bold;
                  margin-top: 5px;
                  width: 100%; /* Ensure it spans the full width */
                  display: block; /* Ensure it is displayed properly */
                  word-wrap: break-word; /* Handle long amounts */
                }
              }
            }
          }
     
          .year-group {
            display: flex;
            flex-direction: column; /* Arrange years in descending order */
          }

          .month-group {
            display: flex;
            flex-direction: column; /* Arrange months in descending order */
          }
        }

        .single_transact {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.8);
          display: none; /* Initially hidden */
          justify-content: center;
          align-items: center;
          z-index: 1000;

          .transaction-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 0.3rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 90%;
            height: 20rem;
            font-family: Arial, sans-serif;
            .close {
              display: flex;
              align-items: end;
              justify-content: end;
              width: 100%;

              height: 3rem;
              i {
                width: 2rem;
                height: 100%;
                background-color: red;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 1rem;
                border-radius: 0.2rem;
                cursor: pointer;
              }
            }
            h2 {
              text-align: center;
              margin-bottom: 20px;
              color: #333;
            }

            .detail-row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 10px 0;
              font-size: 14px;
              color: #555;
              height: 2rem;
              width: 100%;

              strong {
                text-align: left;
                font-size: 14px;
                font-weight: 600;
              }

              span {
                text-align: right;
                font-weight: 500;
                font-size: 14px;
                &.type-detail {
                  height: 2rem;
                  padding-inline: 0.3rem;
                  color: white;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-transform: capitalize;
                  border-radius: 0.2rem;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      width: 90%;
      align-items: start;
      justify-content: center;
      flex-direction: row;
      section {
        background-color: white;
        align-items: center;
        width: 100%;
        border-radius: 0.5rem;
        padding: 2rem;
      }
      .fa-sort {
        display: none;
      }
      .fourth {
        header {
          h1 {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
